.post-img {
  height: 400px;
  overflow: hidden;
  margin-top: 8px;
}
.post-img img {
  width: 100%;
}

.main-content p {
  font-size: 16px;
  font-weight: 400;
}
.main-content h3 {
  font-size: 24px;
  font-weight: 600;
}

.main-content img {
  max-width: 500px;
}
