section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #5271ff;
}

section::before {
  content: "";
  position: absolute;
  top: 10vh;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff38e;
}

.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  z-index: 1;
  display: flex;
  /* background: #fff; */
  /* border: 2px solid black;
    border-radius: 4px; */
}

.container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: 470px;
  background: #5271ff;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.15);
}

.contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.contactInfo ul.Info {
  position: relative;
  margin: 20px 0px;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.contactInfo ul li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.contactInfo ul li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

.contactInfo ul li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

.contactInfo ul.sci {
  position: relative;
  display: flex;
}

.contactInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}

.contactInfo ul.sci li a {
  text-decoration: none;
}

.contactInfo ul.sci li a img {
  filter: invert(1);
}

.contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
}

.contactForm h2 {
  color: #5271ff;
  font-size: 24px;
  font-weight: 500;
}

.contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}

.contactForm .formBox .inputBox .w50 {
  width: 47%;
}

.contactForm .formBox .inputBox .w100 {
  width: 100%;
}

.contactForm .formBox .inputBox input,
.contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}
